#!/bin/bash
### BEGIN INIT INFO
# Provides:          octopus chat server
# Required-Start:    $all
# Required-Stop:
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: octopus server daemon
# Description:       Init script for the octopus chat server daemon
### END INIT INFO

# Variables
ZERO=0
OCTOPUSCHATSERVER=/devops/services/{{ service }}/octopus-chat-server
OCTOPUSCHATDIR=/devops/services/{{ service }}

# Source function library.
. /lib/lsb/init-functions

# Start the octopus chat server
start() {
ulimit -n 32768
cd $OCTOPUSCHATDIR
echo "Starting octopus chat server..."
pgrep -f $OCTOPUSCHATSERVER > /dev/null
    VERIFIER=$?
    if [ $ZERO = $VERIFIER ]
    then
        echo "The service is already running"
    else
        $OCTOPUSCHATSERVER >> $OCTOPUSCHATDIR/logfile 2>&1 &
        sleep 5

        #Verify if the service is running
        pgrep -f $OCTOPUSCHATSERVER > /dev/null
        VERIFIER=$?
        if [ $ZERO = $VERIFIER ]
        then
            echo "Service was successfully started"
        else
            echo "Failed to start service"
        fi
    fi
echo
}

# Stop the octopus chat server
stop() {
cd $OCTOPUSCHATDIR
echo "Stopping octopus chat server..."
    #Verify if the service is running
    pgrep -f $OCTOPUSCHATSERVER > /dev/null
    VERIFIER=$?
    if [ $ZERO = $VERIFIER ]
    then
        kill $(pgrep -f $OCTOPUSCHATSERVER)
        sleep 5

        #Verify if the service is running
        pgrep -f $OCTOPUSCHATSERVER  > /dev/null
        VERIFIER=$?
        if [ $ZERO = $VERIFIER ]
        then
            echo "Failed to stop service"
        else
            echo "Service was successfully stopped"
        fi
    else
        echo "The service is already stopped"
    fi
echo
}

# Verify the status of octopus chat server
status() {
    echo "Checking status of octopus chat server..."
    #Verify if the service is running
    pgrep -f $OCTOPUSCHATSERVER > /dev/null
    VERIFIER=$?
    if [ $ZERO = $VERIFIER ]
    then
        echo "Service is running"
    else
        echo "Service is stopped"
    fi
    echo
}

# Main logic
case "$1" in
    start)
        start
        ;;
    stop)
        stop
        ;;
    status)
        status
        ;;
    restart|reload)
        stop
        start
        ;;
    *)
    echo $"Usage: $0 {start|stop|status|restart|reload}"
    exit 1
esac

exit 0
